body {
    background-color: #efeee7;
    font-family: "Georgia","Times New Roman","serif";
    color: #333333;
    margin: 0 ;
    padding : 0;
}
header {
    background-color: #d21034;
}
h1{
	background-color: #333333;
	font-size: 28px;
	color: #efeee7;
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom:  10px;
	line-height: 150%;
}
h2 {
	font-size:24px;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
#bio-imag, 
#main-bio, 
#contact-info {
	float: left; 
	line-height: 150%;
}


#bio-imag {
	width: 200px;
	margin-right: 5%;
}

#main-bio {
	width: 70%;
	}

#contact-info {
	width: 30%;
}



a:link {
	color: #d21034;
	text-decoration: underline;
	text-decoration-line: 1.5em;
}

